$grey: #1A1A1D;
$background: $grey;
$lightgrey: #4E4E50;
$textone: #6F2232;
$texttwo: #950740;
$textthree: white;

.googleWrapper {
  border-radius: 75px;
}
.firstDiv {
  width: 300px;
  float: left;  
  background-color:white;
  border-radius:75px;
  padding:25px;
}
.secondDiv {
padding-left: 25px;
overflow: hidden;

}
.awesomePin {
  width:25px;
  height:25px;
  border:1px solid red;
}
.webLink {
  padding-top:10px;
  background-color:white;
  border-radius:75px;
  padding: 10px;
}
.address {
  text-align:right;    
}
.addressTitle {
  text-decoration:underline;
}
.detailsLinkTitle {
  font-size:18px;
  font-weight:700;
}
.linkTitle {  
  background-color:$lightgrey;
  border-radius:75px;
  padding: 10px;
  font-size:18px;
  font-weight:700;
  color:white;  
  text-align:center;
  text-decoration:none !important;  
  color:white;
}
  .brewBorder {
    padding:30px;
     border: 1px solid black;
      background-color: white;  
      width:35%;
      border-radius:75px;  
  margin:10px;
  background-image: url(./content/background-beer.jpg);  
  background-repeat: no-repeat;   
  }
.App {
  text-align: center;
  padding: 25px 150px 25px 150px;
  background-image: url(./content/background-carpentry.jpg);  
  opacity:.8;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: $lightgrey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: .5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
