$grey: #333;
$background: $grey;
$lightgrey: #4E4E50;
$textone: #6F2232;
$texttwo: #950740;
$textthree: white;

.googleWrapper {
  border-radius: 75px;
}
.firstDiv {
  width: 300px;
  float: left;  
  background-color:white;
  border-radius:75px;
  padding:25px;
}
.secondDiv {
padding-left: 25px;
overflow: hidden;

}
.errorMessage {
  font-size: 24px;
  color:white;
  
  border-radius:75px;
  background-color:$lightgrey;
}
.webLink {
  padding-top:10px;
  background-color:white;
  border-radius:75px;
  padding: 10px;
}
.address {
  text-align:right;    
}
.addressTitle {
  text-decoration:underline;
}
.detailsLinkTitle {
  font-size:18px;
  font-weight:700;
}
.linkTitle:hover{  
background-color:$grey;
}
.linkTitle {  
  background-color:$lightgrey;
  border-radius:75px;
  padding: 10px;
  font-size:18px;
  font-weight:700;
  color:white;  
  text-align:center;
  text-decoration:none !important;    
}
  .brewBorder {
    padding:30px;
     border: 1px solid black;
      background-color: white;  
      width:35%;
      border-radius:75px;  
  margin:10px;
  background-image: url(./content/background-beer.jpg);  
  background-repeat: no-repeat;   
  }
.App {
  text-align: center;
  padding: 25px 150px 25px 150px;
  background-image: url(./content/background-carpentry.jpg);  
  opacity:.8;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
